@import url(https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f6f5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  text-align: center;
  position: relative;
  top: 90px;
  font-family: Work Sans;

}

.h1 {
  font-size: 20px;
  text-align: left;
  margin-right: 35%;
  margin-left: 35%;
}

.frm {
  display: inline-block;
  background: white;
  color: black;
  box-sizing:border-box;
  width:95%;
  border: none;
  padding: 10px 30px;
  margin-bottom: 10px;
  margin: 5px;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
  text-align: left;
  font-size: 15px;
  font-family: Work Sans;
  line-height: 20px;
}

.input {
  width: 100%;
  flex-grow: 1;
  font-family: Work Sans;
  line-height: 25px;
  border:3px solid #e8eeec;

}

.box {
  border:1px solid lightgrey;
  margin-right: 35%;
  margin-left: 35%;
  background-color: white
  }

  .btn {
    background: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    margin-bottom: 25px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: Work Sans;
    overflow: auto;
  }
  
  .btn:focus {
    outline: none;
  }
  
  .btn:active {
    transform: scale(0.98);
  }

  .description {
    font-size: 14px;
    font-family: Work Sans;
    color: black;
    margin-right: 35%;
    margin-left: 35%;  
    text-align: left;
    margin-bottom: 22px;

  }

  img {
    display: inline;
    max-width:395px;
    max-height:135px;
    width: auto;
    text-align: center;
    height: auto;
    margin-bottom: 15px;
  }

  .center {
    text-align: center;
  }

  .Link {
    font-family: Work Sans;
    font-size: 17px;
    color: #042bdb;
    margin-right: 35%;
    margin-left: 35%;  
    text-align: left;
    margin-bottom: 22px;
    font-weight: 500;
  }
  

